/* section {
    width: 60%;
    height: 60%;
    position: relative;
    border: solid 2px black;
} */

div {
    /* width: 55%;
    height: 4%; */
    background-color: #d7dfe8;
    padding: 23px;
    border: solid 2px #6d8196;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 50px);
    grid-template-areas:
        'input input input input'
        'delete bracket1 bracket2 divide'
        'seven eight nine multiply'
        'four five six minus'
        'one two three plus'
        'zero zero comma equals'
    ;
}

button {
    border: solid 1px #3B4856;
    border-radius: 5px;
    background-color: #7197BD;
    margin: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.delete {
    grid-area: delete;
}

.percent {
    grid-area: percent;
}

.plusMinus {
    grid-area: plusMinus;

}

.divide {
    grid-area: divide;

}

input {
    grid-area: input;
    background-color: #b0c4d8;
    border: solid 1px #3B4856;
    border-radius: 4px;
    margin-bottom: 55px;
    padding: 18px;

}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.multiply {
    grid-area: multiply;
}



.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.minus {
    grid-area: minus;
}



.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.plus {
    grid-area: plus;
}




.zero {
    grid-area: zero;
}

.comma {
    grid-area: comma;
}

.equals {
    grid-area: equals;
}